@import url("https://fonts.googleapis.com/css2?family=Times+New+Roman:wght@400;700&display=swap");

body {
  background-color: black; /* Setting background to black */
  color: white; /* Default text color set to white for contrast */
  font-family: "Times New Roman", serif;
}

.impact {
  font-family: "Impact", sans-serif;
}

.header-link {
  color: red; /* Red text for headers */
}

.retro-divider {
  height: 2px;
  background-color: gray;
  margin: 20px 0;
}

.centered-container {
  max-width: 640px;
  margin: auto;
  text-align: center;
  padding: 16px;
  border: 1px solid gray;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
  padding-top: 15px; /* Add padding to ensure content below nav is visible */
}

.big-title {
  font-size: 96px; /* You can adjust this value to get the desired size */
}
.small-title {
  font-style: italic;

  font-size: 70px; /* You can adjust this value to get the desired size */
}

nav {
  width: 100%; /* Full width */
  position: fixed; /* Fixed position */
  top: 0; /* Align to the top */
  left: 0; /* Align to the left */
  background: black; /* Match the body background color */
  z-index: 1000; /* Ensure it's above other content */
}
/* Targeting links that have not been visited */
a:link {
  color: white; /* Sets unvisited links to white */
}

/* Targeting links that have been visited */
a:visited {
  color: grey; /* Sets visited links to grey */
}
